[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
bumpversion = "*"
pytest = "*"
pytest-localserver = "*"
pytest-metadata = ">=1.5.1"
responses = "*"
requests-mock = "*"

[requires]
python_version = "3.7"
